$dark-blue: #1d3557
$blue: #457b9d
$light-blue: #a8dadc
$gray: #eee
$dark-gray: #454545
$red: #e63946
$sm: 576px
$md: 768px
$lg: 992px

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: sans-serif
  color: $dark-gray

body
  width: 100vw
  height: 100vh
  max-width: 100%
  max-height: 100%
  background: $gray
  font-size: 14px
  overflow-x: hidden

a
  color: $blue
  text-decoration: none
  &:hover
    color: $dark-blue

h1
  font-size: 28px
  margin-bottom: 25px
  word-break: break-all

img
  max-width: 100%

button,
.button
  color: white
  border: 2px solid lighten($dark-blue, 25%)
  background: $blue
  padding: 10px 15px
  border-radius: 5px
  display: inline-block
  text-decoration: none
  transition: .5s ease border-color, .5s ease background-color
  &:hover
    border-color: $dark-blue
    background: $dark-blue
    color: white
    text-decoration: none

input
  color: $blue
  border-bottom: 2px solid $blue
  border-top: none
  border-left: none
  border-right: 0
  padding: 15px 20px
  outline: none
  transition: .5s ease border-bottom-color, .5s ease color, .5s ease background-color
  width: 100%
  margin-bottom: 25px
  &::placeholder
    color: $blue
  &:focus
    border-color: $dark-blue
    color: $dark-blue
    background-color: $gray
    &::placeholder
      color: $dark-blue

.login-form
  max-width: 400px
  padding: 25px
  background: white
  p
    margin-top: 15px
    font-size: 14px
  @media (max-width: 500px)
    max-width: 100%
    padding: 15px

.center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  @media (max-width: 500px)
    left: 0
    right: 0
    top: 0
    transform: none

#response
  display: none
  visibility: hidden
  &.active
    display: block
    visibility: visible
    border: 1px solid #519657
    border-radius: 5px
    background: #b2fab4
    color: #519657
    margin-top: 25px
    padding: 15px
    a
      font-weight: bold
      text-decoration: none
      color: #519657
.profile
  .grid
    grid-template-areas: "header header header" "main main main" "footer footer footer"
    @media (max-width: $md)
      grid-template-rows: 60px auto 80px

.grid
  display: grid
  grid-template-columns: 80px auto 20%
  grid-template-rows: 80px auto 80px
  grid-template-areas: "header header header" "main main sidebar" "footer footer footer"
  height: 100vh
  max-height: 100%
  width: 100vw
  max-width: 100%
  @media (max-width: $lg)
    grid-template-columns: 80px auto 30%
  @media (max-width: $md)
    grid-template-columns: 80px auto 0
    grid-template-rows: 60px auto 280px  80px
    grid-template-areas: "header header header" "main main main" "sidebar sidebar sidebar"  "footer footer footer"

  header
    grid-area: header
    background-color: $blue
    overflow: hidden // hide overflowing "logo" letters :D
    nav
      ul
        display: flex
        flex-wrap: nowrap
        align-items: stretch
        align-content: stretch
        li
          display: flex
          justify-content: center
          align-items: center
          height: 80px
          padding: 20px
          flex-grow: 1
          @media (max-width: $md)
            padding: 10px
            height: 60px
          &.logo
            display: block
            height: 80px
            color: rgba(white, .75)
            line-height: 60px
            text-align: center
            padding-left: 2em
            padding-top: 10px
            padding-bottom: 10px
            font-weight: bold
            flex-grow: 0
            @media (max-width: $md)
              height: 60px
              line-height: 40px
              padding-left: 5px
          a
            display: inline-block
            height: 100%
            padding: 10px
            color: white
            border-radius: 5px
            line-height: 20px
            white-space: nowrap
            @media (max-width: $sm)
              padding: 10px 5px
            &.active
              background: $gray
              color: $dark-blue
  main
    grid-area: main
  aside
    grid-area: sidebar
  footer
    grid-area: footer
    background: rgba($blue, .25)
    border-top: 5px solid $blue
    display: flex
    justify-content: center
    align-items: center
    div
      display: inline-block

.filter
  padding: 2em
  overflow: auto
  #search
    margin-bottom: 25px

.invisible
  display: none !important

.padding0-2-2
  padding: 0 2em 2em
.responsive-table
  position: relative
  display: inline-block
  width: 100%
  overflow-x: auto
  overflow-y: hidden
  white-space: nowrap
  table
    width: 100%
    border-collapse: collapse
    border-bottom: 4px solid $blue
    @media (max-width: $lg)
      table-layout: fixed
    thead
      background-color: rgba($blue, .5)
      border-bottom: 2px solid $blue
      font-weight: bolder
    tbody
      tr
        border-bottom: 2px solid $blue
        background: white
        @media (prefers-color-scheme: dark)
          background: rgba(white, .25)
        &:last-of-type
          border-bottom: none
        &:nth-child(odd)
          background: $gray
          @media (prefers-color-scheme: dark)
            background: rgba($gray, .25)
    tr
      height: 4em
      font-size: larger
      line-height: 2em
    td
      padding: 1em

.response
  display: none
  visibility: hidden
  &.active
    display: block
    visibility: visible
    border: 1px solid #519657
    border-radius: 5px
    background: #b2fab4
    color: #519657
    margin-right: 25px
    margin-left: 25px
    padding: 15px
    a
      font-weight: bold
      text-decoration: none
      color: #519657


.checked
  color: $red

.group-detail
  padding: 2em
  display: grid
  gap: 1em
  width: 100%
  height: 100%
  grid-template-columns: 30% 70%
  grid-template-rows: 15% 85%
  >*
    background-color: white
    border-bottom: 4px solid $blue
    padding: 1em
  &.greeting
    height: auto
    div
      grid-column: 1 / -1
      grid-row: 1 /  -1
      font-size: 18px
      p
        margin-bottom: 10px
        &:last-of-type
          margin-top: 40px
          margin-bottom: 0
          font-weight: bold
  &.mini-profile
    height: auto
    div
      grid-column: 1 / -1
      grid-row: 1 /  -1
      text-align: center
      h1
        font-size: 18px
      img
        display: block
        margin: 0 auto 1em

        font-size: 12px
        padding: 5px
  .name
    grid-row: 1 / 2
    grid-column: 1 / 2
  .members
    grid-row: 2/3
    grid-column: 2/3
  .description
    grid-row: 2/3
    grid-column: 1/2
  ul
    list-style: none
    font-size: large
  li
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr))
    height: 3em
    padding: 1em

.button-container
  height: 10em
  padding: 2em
  &:first-of-type
    padding-top: 0
  position: relative
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  .big-button
    font-size: x-large
    @media (max-width: $md)
      font-size: 14px
      padding: 10px

.outer-padding
  padding: 2em
  margin-right: 2em
  margin-bottom: 1em
  @media (max-width: $md)
    margin-bottom: 0
    margin-right: 0

.user-detail
  display: grid
  gap: 1em
  width: 100%
  height: 100%
  grid-template-columns: 33.33% 33.33% 33.33%
  grid-template-rows: 50% 50%
  @media (max-width: $md)
    display: flex
    flex-wrap: wrap
    gap: 0
    div
      width: 100%
      margin-bottom: 1em
  > *
    background-color: white
    border-bottom: 4px solid #457b9d
    padding: 1em
  .name
    grid-row: 1/2
    grid-column: 1/2
  .biography
    grid-row: 1/2
    grid-column: 2/3
  .description
    grid-row: 2/3
    grid-column: 1/2
  .contact
    grid-row: 1/2
    grid-column: 3/4
  .courseofstudies
    grid-row: 2/3
    grid-column: 2/3
  .profile-buttons
    grid-row: 2/3
    grid-column: 3/4
  ul
    list-style: none
    font-size: large
  li
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr))
    height: 3em
    padding: 1em

#courseofstudies-uploaded
  visibility: hidden
  display: none

#courseofstudies-not-uploaded
  visibility: visible
  display: block


@media (prefers-color-scheme: dark)
  *
    color: white
  body
    background-color: $dark-gray

  .group-detail
    >*
      background-color: gray

  .groups
    background-color: gray

    .group:nth-child(odd)
      background-color: #4b4f54

  input
    background-color: gray
    color: white
    &::placeholder
      color: $blue
    &:focus
      border-color: $dark-blue
      color: $dark-blue
      background-color: $gray
    &::placeholder
      color: white

  .user-detail
    >*
      background-color: gray

.response-modal
  display: none
  visibility: hidden
  &.active
    display: block
    visibility: visible
    border: 1px solid #519657
    background: #b2fab4
    color: #519657
    margin-right: 25px
    margin-left: 25px
    padding: 15px
    position: fixed
    bottom: 10px
    right: 10px
    a
      font-weight: bold
      text-decoration: none
      color: #519657
