* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #454545;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: #eee;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  color: #457b9d;
  text-decoration: none;
}
a:hover {
  color: #1d3557;
}

h1 {
  font-size: 28px;
  margin-bottom: 25px;
  word-break: break-all;
}

img {
  max-width: 100%;
}

button,
.button {
  color: white;
  border: 2px solid #3d6fb7;
  background: #457b9d;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s ease border-color, 0.5s ease background-color;
}
button:hover,
.button:hover {
  border-color: #1d3557;
  background: #1d3557;
  color: white;
  text-decoration: none;
}

input {
  color: #457b9d;
  border-bottom: 2px solid #457b9d;
  border-top: none;
  border-left: none;
  border-right: 0;
  padding: 15px 20px;
  outline: none;
  transition: 0.5s ease border-bottom-color, 0.5s ease color, 0.5s ease background-color;
  width: 100%;
  margin-bottom: 25px;
}
input::placeholder {
  color: #457b9d;
}
input:focus {
  border-color: #1d3557;
  color: #1d3557;
  background-color: #eee;
}
input:focus::placeholder {
  color: #1d3557;
}

.login-form {
  max-width: 400px;
  padding: 25px;
  background: white;
}
.login-form p {
  margin-top: 15px;
  font-size: 14px;
}
@media (max-width: 500px) {
  .login-form {
    max-width: 100%;
    padding: 15px;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .center {
    left: 0;
    right: 0;
    top: 0;
    transform: none;
  }
}

#response {
  display: none;
  visibility: hidden;
}
#response.active {
  display: block;
  visibility: visible;
  border: 1px solid #519657;
  border-radius: 5px;
  background: #b2fab4;
  color: #519657;
  margin-top: 25px;
  padding: 15px;
}
#response.active a {
  font-weight: bold;
  text-decoration: none;
  color: #519657;
}

.profile .grid {
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
@media (max-width: 768px) {
  .profile .grid {
    grid-template-rows: 60px auto 80px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 80px auto 20%;
  grid-template-rows: 80px auto 80px;
  grid-template-areas: "header header header" "main main sidebar" "footer footer footer";
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}
@media (max-width: 992px) {
  .grid {
    grid-template-columns: 80px auto 30%;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 80px auto 0;
    grid-template-rows: 60px auto 280px 80px;
    grid-template-areas: "header header header" "main main main" "sidebar sidebar sidebar" "footer footer footer";
  }
}
.grid header {
  grid-area: header;
  background-color: #457b9d;
  overflow: hidden;
}
.grid header nav ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}
.grid header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 20px;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .grid header nav ul li {
    padding: 10px;
    height: 60px;
  }
}
.grid header nav ul li.logo {
  display: block;
  height: 80px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 60px;
  text-align: center;
  padding-left: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  flex-grow: 0;
}
@media (max-width: 768px) {
  .grid header nav ul li.logo {
    height: 60px;
    line-height: 40px;
    padding-left: 5px;
  }
}
.grid header nav ul li a {
  display: inline-block;
  height: 100%;
  padding: 10px;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  white-space: nowrap;
}
@media (max-width: 576px) {
  .grid header nav ul li a {
    padding: 10px 5px;
  }
}
.grid header nav ul li a.active {
  background: #eee;
  color: #1d3557;
}
.grid main {
  grid-area: main;
}
.grid aside {
  grid-area: sidebar;
}
.grid footer {
  grid-area: footer;
  background: rgba(69, 123, 157, 0.25);
  border-top: 5px solid #457b9d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid footer div {
  display: inline-block;
}

.filter {
  padding: 2em;
  overflow: auto;
}
.filter #search {
  margin-bottom: 25px;
}

.invisible {
  display: none !important;
}

.padding0-2-2 {
  padding: 0 2em 2em;
}

.responsive-table {
  position: relative;
  width: 536px;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}
.responsive-table table {
  border-collapse: collapse;
  border-bottom: 4px solid #457b9d;
}
@media (max-width: 992px) {
  .responsive-table table {
    table-layout: fixed;
  }
}
.responsive-table table thead {
  background-color: rgba(69, 123, 157, 0.5);
  border-bottom: 2px solid #457b9d;
  font-weight: bolder;
}
.responsive-table table tbody tr {
  border-bottom: 2px solid #457b9d;
  background: white;
}
@media (prefers-color-scheme: dark) {
  .responsive-table table tbody tr {
    background: rgba(255, 255, 255, 0.25);
  }
}
.responsive-table table tbody tr:last-of-type {
  border-bottom: none;
}
.responsive-table table tbody tr:nth-child(odd) {
  background: #eee;
}
@media (prefers-color-scheme: dark) {
  .responsive-table table tbody tr:nth-child(odd) {
    background: rgba(238, 238, 238, 0.25);
  }
}
.responsive-table table tr {
  height: 4em;
  font-size: larger;
  line-height: 2em;
}
.responsive-table table td {
  padding: 1em;
  min-width: 130px;
}
.responsive-table table td:last-of-type {
  min-width: 320px;
}

@media (min-width: 768px) {
  .responsive-table {
    width: 728px;
  }
}
@media (min-width: 992px) {
  .responsive-table {
    width: 992px;
  }
}
.response {
  display: none;
  visibility: hidden;
}
.response.active {
  display: block;
  visibility: visible;
  border: 1px solid #519657;
  border-radius: 5px;
  background: #b2fab4;
  color: #519657;
  margin-right: 25px;
  margin-left: 25px;
  padding: 15px;
}
.response.active a {
  font-weight: bold;
  text-decoration: none;
  color: #519657;
}

.checked {
  color: #e63946;
}

.group-detail {
  padding: 2em;
  display: grid;
  gap: 1em;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 15% 85%;
}
.group-detail > * {
  background-color: white;
  border-bottom: 4px solid #457b9d;
  padding: 1em;
}
.group-detail.greeting {
  height: auto;
}
.group-detail.greeting div {
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-size: 18px;
}
.group-detail.greeting div p {
  margin-bottom: 10px;
}
.group-detail.greeting div p:last-of-type {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: bold;
}
.group-detail.mini-profile {
  height: auto;
}
.group-detail.mini-profile div {
  grid-column: 1/-1;
  grid-row: 1/-1;
  text-align: center;
}
.group-detail.mini-profile div h1 {
  font-size: 18px;
}
.group-detail.mini-profile div img {
  display: block;
  margin: 0 auto 1em;
  font-size: 12px;
  padding: 5px;
}
.group-detail .name {
  grid-row: 1/2;
  grid-column: 1/2;
}
.group-detail .members {
  grid-row: 2/3;
  grid-column: 2/3;
}
.group-detail .description {
  grid-row: 2/3;
  grid-column: 1/2;
}
.group-detail ul {
  list-style: none;
  font-size: large;
}
.group-detail li {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  height: 3em;
  padding: 1em;
}

.button-container {
  height: 10em;
  padding: 2em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container:first-of-type {
  padding-top: 0;
}
.button-container .big-button {
  font-size: x-large;
}
@media (max-width: 768px) {
  .button-container .big-button {
    font-size: 14px;
    padding: 10px;
  }
}

.outer-padding {
  padding: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  .outer-padding {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.user-detail {
  display: grid;
  gap: 1em;
  width: 100%;
  height: 100%;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
}
@media (max-width: 768px) {
  .user-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .user-detail div {
    width: 100%;
    margin-bottom: 1em;
  }
}
.user-detail > * {
  background-color: white;
  border-bottom: 4px solid #457b9d;
  padding: 1em;
}
.user-detail .name {
  grid-row: 1/2;
  grid-column: 1/2;
}
.user-detail .biography {
  grid-row: 1/2;
  grid-column: 2/3;
}
.user-detail .description {
  grid-row: 2/3;
  grid-column: 1/2;
}
.user-detail .contact {
  grid-row: 1/2;
  grid-column: 3/4;
}
.user-detail .courseofstudies {
  grid-row: 2/3;
  grid-column: 2/3;
}
.user-detail .profile-buttons {
  grid-row: 2/3;
  grid-column: 3/4;
}
.user-detail ul {
  list-style: none;
  font-size: large;
}
.user-detail li {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  height: 3em;
  padding: 1em;
}

#courseofstudies-uploaded {
  visibility: hidden;
  display: none;
}

#courseofstudies-not-uploaded {
  visibility: visible;
  display: block;
}

@media (prefers-color-scheme: dark) {
  * {
    color: white;
  }

  body {
    background-color: #454545;
  }

  .group-detail > * {
    background-color: gray;
  }

  .groups {
    background-color: gray;
  }
  .groups .group:nth-child(odd) {
    background-color: #4b4f54;
  }

  input {
    background-color: gray;
    color: white;
  }
  input::placeholder {
    color: #457b9d;
  }
  input:focus {
    border-color: #1d3557;
    color: #1d3557;
    background-color: #eee;
  }
  input::placeholder {
    color: white;
  }

  .user-detail > * {
    background-color: gray;
  }
}
.response-modal {
  display: none;
  visibility: hidden;
}
.response-modal.active {
  display: block;
  visibility: visible;
  border: 1px solid #519657;
  background: #b2fab4;
  color: #519657;
  margin-right: 25px;
  margin-left: 25px;
  padding: 15px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.response-modal.active a {
  font-weight: bold;
  text-decoration: none;
  color: #519657;
}

/*# sourceMappingURL=style.css.map */
